		.simpleCart_items{
			float:left;
			clear:left;
			width:auto;
			margin:10px;
		}
		.itemRow{
			clear:both;
			width:auto;
			padding:15px 0;
			font-size:12px;
			line-height:25px;
			height:10px;
		}
		.item-codigo{
			float:left;
			width:10px;
			margin-left: 50px;	
		}
		.item-name{
			float:left;
			width:150px;
			margin-left: 50px;	
		}
		.item-price{
			float:left;
			width:100px;
			color:#418932;
		}
		.item-quantity{
			float:left;
			width:100px;
		}
		
		.item-increment{
			float:left;
			width:10px;
		}
		.item-decrement{
			float:left;
			width:30px;

		}
		.item-total{
			float:left;
			width:100px;
			margin-left: 30px;
		}
		.item-remove{
			float:left;
			width:50px;
		}		
		.item-thumb {
			float:left;
			color:inherit;
			width:150px;
			color: white;
			display: block;  
		}
		.item-thumb img{
			vertical-align:middle;
			width:150px; 
			height:100px;
		}
		.simpleCart_grandTotal{
			float:inherit;
			text-align:justify;
		}
		