
/**********************************
 div principales
***********************************/   
#idPrincipal{	position: absolute;	top: 0px;	left: 0px;	width: 1280px;	height: 690px;padding: 0px;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;	}
#idCabecera{	position: absolute;	top: 0px;	left: 0px;	width: 1280px;	height: 100px;  padding: 0px;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;	}
#idCuerpo{	position: absolute;	top: 101px;	left: 0px;	width: 1270px;	height: 590px; padding: 0px;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;	}
#idMenu{	position: absolute;	top: 0px;	left: 0px;	width: 200px;	height: 590px;  padding: 0px;margin:0;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;background-color:  #BCF5A9;	}
#idCentralConMenu{	position: absolute;	top: 0px;	left: 200px;	width: 1080px;	height: 590px; padding: 0px;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;background-color: #BCF5A9;	}
#idCentralSinMenu{	position: absolute;	top: 0px;	left: 0px;	width: 1280px;	height: 590px;  padding: 0px;	font-size: 12px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;background-color:#BCF5A9;	}



/**********************************
 Mantenimiento producto   
***********************************/

#idDivMantProducto{	position: absolute;	top: 0px;	left: 0px;	width: 1075px;	height: 750px; background-color:  #c0c0c0; padding: 0px;color: blue;	font-size: 11px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;	}

#idMantLabelTituloRegistro {	position: absolute;	top: 5px;	left: 0px;	width: 1075px;	height: 20px; 	display:block;	font-family:Tahoma, Geneva, sans-serif;	font-size:14px;font-weight:bold;color:#679b14;background-color:#cfe8a7;text-shadow:#FFF 1px 1px 1px; text-align: center;}

#idMantLabelNombre {	position: absolute;	top: 30px;	left: 400px;	width: 100px;	height: 15px; 	}
#idMantNombre {	 		position: absolute;	top: 30px;	left: 520px; width: 200px;	height: 20px;	}
  
#idMantLabelPrecio { 	position: absolute;	top: 65px;	left: 400px;	width: 100px;	height: 15px;	}
#idMantPrecio {	  	position: absolute;	top: 65px;	left: 520px;	width: 200px;	height: 20px;	}

#idMantLabelEstado { position: absolute;	top: 100px;	left: 400px;	width: 100px;	height: 15px;	}
#idMantEstado {	  	position: absolute;	top: 100px;	left: 520px;	width: 200px;	height: 20px;	}

#idMantLabelDescripcion { position: absolute;	top: 135px;	left: 400px;	width: 100px;	height: 15px;	}
#idMantDescripcion {	  position: absolute;	top: 135px;	left: 520px;	width: 200px;	height: 20px;	}  

#idMantLabelTipo { 	position: absolute;	top: 170px;	left: 400px;	width: 100px;	height: 15px;	}
#idTipoProducto {	  	position: absolute;	top: 170px;	left: 520px;	width: 200px;	height: 20px;	}

#idMantLabelCategoria { 	position: absolute;	top: 205px;	left: 400px;	width: 100px;	height: 15px;	}
#idCategoriaProducto {	  	position: absolute;	top: 205px;	left: 520px;	width: 200px;	height: 20px;	}

#idMantLabelSubCategoria { 	position: absolute;	top: 240px;	left: 400px;	width: 100px;	height: 15px;	}
#idSubCategoriaProducto {	  	position: absolute;	top: 240px;	left: 520px;	width: 200px;	height: 20px;	}

#idMantLabelImagen{ 	position: absolute;	top: 275px;	left: 400px;	width: 100px;	height: 15px;	}
#idMantImagen {	  	position: absolute;	top: 275px;	left: 520px;	width: 400pxpx;	height: 20px;	}

#idMantLabelUsuario { 	position: absolute;	top: 310px;	left: 400px;	width: 100px;	height: 15px;	}
#idMantUsuario {	  	position: absolute;	top: 310px;	left: 520px;	width: 200px;	height: 20px;	}


#idFormAgregarPro {	  position: absolute;	top: 350px;	left: 380px;	width: 80px;	height: 25px;	}  
#idFormActualizarPro {	  position: absolute;	top: 350px;	left: 480px;	width: 80px;	height: 25px;	}  
#idFormEliminarPro {	  position: absolute;	top: 350px;	left: 580px;	width: 80px;	height: 25px;	}  
#idFormSalirPro {	  position: absolute;	top: 350px;	left: 680px;	width: 80px;	height: 25px;	}  


#idDivManProResultado{	position: absolute;	top: 400;	left: 0px;	width: 1075px;	height: 750px; background-color:  #c0c0c0; padding: 0px;color: green;	font-size: 11px;	font-style: normal;	font-family: Verdana, Geneva, sans-serif;	}
E

